
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
    height: 500px;/* Full screen height */
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 50px; /* Adds spacing from the left side */
  }
  .hero .container{
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 10px;
    width: 100%;
  }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  }
  
  .hero-content {
    position: relative;
    width: 600px;
    color: white;
    padding: 20px;
   
    text-align: left;
    z-index: 1; /* Ensures content stays above the background */
  }
  
  .hero h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }
  
  .hero p {
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, .65);
    margin-top: 5px;
  }
  
  .hero-btn {
    padding: 10px 20px;
    border: none;
    background-color: #FFB333;
    color: #010E19;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    border: none;
    border-radius: 32px;
    width: 320px;
  }
  
  .hero-btn:hover {
    background-color: #FFB333; /* Darken button on hover */
  }
  