.hero-text-block{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 50px; 
}
.hero-text-block .container{
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 10px;
    width: 100%;
  }

  .hero-text-block .container .hero-text-content{
    position: relative;
    width: 500px;
    color: #000;
    padding: 20px;   
    text-align: left;
    z-index: 1; 
  }
  .hero-text-block .container .hero-text-content .hero-text-header{
   margin-bottom: 20px;
  }


  .hero-text-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.hero-text-list i {
    margin-right: 20px;
    color: #010E19;
    font-size: 16px;
    width: 16px;
}

.hero-text-list h3 {
    margin: 0; 
    font-size: 20px;
    line-height: 26px;
    color: #010E19;
    font-weight: 400;
}
  .hero-text-block .container .hero-text-content h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: #010E19;
  }
  .hero-text-block .container .hero-text-content span {
    font-size: 20px;
    line-height: 26px;
    color: #061624;
  }
  .hero-text-block .container .hero-text-content ul {
    list-style-type: none;
  }
 
  .hero-text-block .hero-text-btn{
    margin-left: 8.33333%;
    width: 320px;
  }
  .hero-text-block .hero-btn{
    margin-bottom: 5px;
  }
  .hero-text-block .hero-text-btn p{
    font-size: 12px;
    line-height: 18px;
    color: #061624;
    text-align: center;
  }