@font-face {
  font-family: 'Audible Sans';
  src: url('./assets/fonts/AudibleSans-Lt.woff2') format('woff2'),
       url('./assets/fonts/AudibleSans-Lt.woff2') format('truetype'); /* Fallback for browsers that do not support WOFF2 */
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #010E19;
  background-color: #FFF;
  font-family: "Audible Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

